<div class="my-3 mx-4">
   <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01</strong>
            <hr>
            <p class="bg-light py-2 px-3 rounded">
                <strong>Map : </strong> 'Video' + data
            </p>
            <br>
            <p>Message <strong class="text-success">{{msg}}</strong></p>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02</strong>
            <hr>
            <p class="bg-light py-2 px-3 rounded">
                <strong>Map : </strong> Map data * 10
            </p>
            <br>
            <p>Message <strong class="text-success">{{msg2}}</strong></p>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03</strong>
            <hr>
            <p class="bg-light py-2 px-3 rounded">
                <strong>Map : </strong> Map Objects
            </p>
            <br>
            <p>Message 
            <strong class="text-success">
                <ul>
                    <li *ngFor="let msg of msg3">{{msg}}</li>
                </ul>
            </strong></p>
        </div>
    </div>
</div>

