<div class="my-3">
    <h2>Switch Map</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong> Ex - 01 : Map</strong>
            <hr>
            <p class="bg-light px-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comeedy', 'News']
            </p>
            <hr>
            <ul>
                <li *ngFor="let map of mapList">{{map}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <strong> Ex - 02 : Map + switchAll</strong>
            <hr>
            <p class="bg-light px-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comeedy', 'News']
            </p>
            <hr>
            <ul>
                <li *ngFor="let map of mapPlusSwitchAllList">{{map}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <strong> Ex - 03 : MergeMap</strong>
            <hr>
            <p class="bg-light px-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comeedy', 'News']
            </p>
            <hr>
            <ul>
                <li *ngFor="let map of mergeMapList">{{map}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <strong> Ex - 04 :ConcatMap</strong>
            <hr>
            <p class="bg-light px-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comeedy', 'News']
            </p>
            <hr>
            <ul>
                <li *ngFor="let map of concatMapList">{{map}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <strong> Ex - 05 : Switchmap</strong>
            <hr>
            <p class="bg-light px-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comeedy', 'News']
            </p>
            <hr>
            <ul>
                <li *ngFor="let map of switchMapList">{{map}}</li>
            </ul>
        </div>
    </div>
</div>

